<!DOCTYPE html>
<html lang="en">
	<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="yandex-verification" content="943b03fe19e31b1f" />
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" sizes="32x32">
	<link rel='canonical' href="{{ request.url }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='font/font.css') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	{% block custom_css %}{% endblock %}
	</head>
	<body class="bg-white">

		<header class="navbar navbar-expand-md navbar-dark bd-navbar bg_blue">
			<nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">

				<div>
					{% block side_menu_icon %}{% endblock %}
					<a class="navbar-brand p-2 me-2 logo-text" href="/" aria-label="Bootstrap">Tech Blog</a>
				</div>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
  						<path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
					</svg>
				</button>

				<div class="collapse navbar-collapse" id="bdNavbar">
					<ul class="navbar-nav flex-row flex-wrap ms-md-auto">
						<li class="nav-item col-6 col-md-auto">
							<a class="nav-link px-4 cool-link" href="/">Home</a>
						</li>
						<li class="nav-item col-6 col-md-auto">
							<a class="nav-link px-4 cool-link" aria-current="true" href="/category/tutorial/">Tutorials</a>
						</li>
						<li class="nav-item col-6 col-md-auto">
							<a class="nav-link px-4 cool-link" href="/category/foss/">FOSS</a>
						</li>
						<li class="nav-item col-6 col-md-auto">
							<a class="nav-link px-4 cool-link" href="/category/interview_preparation/">Interview Preparation</a>
						</li>
						<li class="nav-item col-6 col-md-auto">
							<a class="nav-link px-4 cool-link" href="/category/blog/">Blog</a>
						</li>
						<li class="nav-item col-6 col-md-auto">
							<a class="nav-link px-4 cool-link" href="/category/diy/">DIY</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div style="margin-top:81px"></div>

		{% block body %}{% endblock %}

		<div class="pb-0 mb-0 justify-content-center text-light ">
     <footer>
         <div class="space-55"></div>
         <div class="row justify-content-center py-5">
             <div class="col-11">
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                         <h3 class="text-muted mb-md-0 mb-5 bold-text">Tech Blog.</h3>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4 bold-text"><b>MENU</b></h6>
                         <ul class="list-unstyled">
							 <li><a class="foot-link" href="/">Home</a></li>
							 <li><a class="foot-link" href="/category/tutorial/">Tutorials</a></li>
							 <li><a class="foot-link" href="/category/interview_preparation/">interview Preparation</a></li>
							 <li><a class="foot-link" href="/category/blog/">Blog</a></li>
							 <li><a class="foot-link" href="/category/diy/">DIY</a></li>
                         </ul>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4 bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                         <p class="mb-1" style="text-transform: uppercase;">
							 Ratan icon building <br>
							 pallavaram <br>
						 	 Chennai <br>
						 	 600043
						 </p>
                     </div>
                 </div>
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                         <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Tech Blog. All Rights Reserved.</small>
                     </div>
                 </div>
             </div>
         </div>
     </footer>
 </div>

		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	</body>
</html>
