{% extends "base.html" %}
{% block title %}{{ record.name }}{% endblock %}
{% block description %}{{ record.description }}{% endblock %}


{% block body %}
<div class="space-18"></div>
<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10 article mb-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					{% if not sub_category %}
						<li class="breadcrumb-item active" aria-current="page">{{ category_obj.name }}</li>
					{% else %}
						<li class="breadcrumb-item" aria-current="page"><a href="/{{category_obj.url}}">{{ category_obj.name }}</a></li>
						<li class="breadcrumb-item" aria-current="page">{{ sub_category_obj.name }}</li>
					{% endif %}
				</ol>
			</nav>
			{% for article in articles %}
			<article class="row p-3 blog-sp" onclick="location.href='{{ url_for('blog_page', category_url=article.category_url, blog_url=article.url) }}'">
			  	<div class="col-xs-6 col-md-4">
					<img src="{{ url_for('static', filename='img/digital_building.jpg') }}" width="100%">
				</div>
				<div class="col-xs-12 col-md-8">
					<h2 class="blog-post-title p-2">{{ article.title }}</h2>
					<p class="blog-post-preview p-2">{{ article.preview }}</p>
					<div class="blog-post-status p-2">
						<div class="text-muted small">
							<b>Published On</b>
							<i class="ms-2">{{ article.published_on }}</i>
						</div>
					</div>
				</div>
			</article>
			{% endfor %}
			<div class="clearfix my-4">
				{{ pagination.links }}
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>

{% endblock %}
