{% extends "base.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}

{% block body %}
<div class="container" style="margin-top:90px">
	<div class="row">
		<div class="col-sm-7 article pt-4">
			{% for article in articles %}
				<article class="blog-post" onclick="location.href='{{ url_for('blog_page', category_url=article.category_url, blog_url=article.url) }}'">
					{% if article.image_filename %}
						<img src="{{ url_for('custom_images', filename=article.image_filename) }}" width="100%">
					{% endif %}
					<h4 class="blog-post-title p-2">{{ article.title }}</h4>
					<p class="blog-post-preview p-2">{{ article.preview }}</p>
					<div class="blog-post-status p-2">
						<div class="text-muted small">
							<b>Published On</b>
							<i>{{ article.published_on }}</i>
						</div>
						<div class="text-muted small">
							<b>Category</b>
							<a class="blog-info blog-link" href="{{ url_for('category_page', category_url=article.category_url) }}">{{ article.category_name }}</a>
						</div>
					</div>
					<hr class="dashed">
				</article>
			{% endfor %}
			<div class="clearfix my-4">
				{{ pagination.links }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
