{% extends "base.html" %}

{% block side_menu_icon %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
        </svg>
    </button>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
           {% include "sidemenu/interview_questions_menu.html" %}
            <main class="col-md-9 ms-sm-auto col-lg-10">
                <div class="p-3 bg-body rounded shadow-sm h100">
                    <h2 class="border-bottom pb-2 mb-0">Recent updates</h2>
                    <p>Data</p>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
