body {
    line-height: 1.8;
    color: rgba(33,33,54,0.9);
    font-family: 'Baloo Thambi 2', cursive;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    background: #f2f2f2;
	}

.bg_blue {
    background: #458dd5 !important;
}


.blog-post{
    cursor: pointer;
}

.navbar {

    top: 0;
    position: fixed;
    width: 100%;
    z-index: 21;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

}

hr.dashed {
    border-top: 2px dashed green;
}

.article{
	background: white;
}

.blog-info {
  background-color: #28a74514;
  padding: 3px;
}

.blog-link{
  color: rgb(4, 160, 241);
}


.cool-link {
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s ease-in-out;
}

.cool-link:hover::after {
    width: 100%;
}

.logo-text {
    font-size: 36px;
}

