body {
    line-height: 1.8;
    color: rgba(33,33,54,0.9);
    font-family: 'Karla', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 21px;
    background: #f2f2f2;
	}

.bg_blue {
    background: cornflowerblue;
}

.navbar {

    top: 0;
    position: fixed;
    width: 100%;
    z-index: 21;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

}

.cool-link {
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s ease-in-out;
}

.cool-link:hover::after, .cool-link.active::after {
    width: 100%;
}

.logo-text {
    font-size: 36px;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.pd60 {
    padding: 0 60px;
}

.space-110 {
    height: 110px;
    display: block;
}

.space-55 {
    height: 55px;
    display: block;
}

.space-18 {
    height: 18px;
    display: block;
}

footer{
    background: #455A64;
}

p, li {
    color: #7f8fa6;
}

.badge-tag {
    font-size: inherit;
    text-decoration: none;
    background-color: cornflowerblue;
}

.foot-link {
    color: #7f8fa6;
    text-decoration: none !important;
}

.blog-sp {
    cursor: pointer;
}

.blog-sp:hover{
  background-color: aliceblue;
}

.breadcrumb-item a {
    text-decoration: none !important;
}

.fs-50{
    font-size: 40px;
}


